
server:
  port: 80

cors:
  originPatterns: http://localhost:3000,http://localhost:8080,https://erudio.com.br

file:
  upload-dir: /Upload-dir

#Security
security:
  jwt:
    token:
      secret-key: 53cr737
      expire-length: 3600000
# Configuração do MySQL
spring:
  datasource:
    url: jdbc:mysql://localhost:3308/person?useTimezone=true&serverTimezone=UTC
    username: mysql
    password: 123456
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false
    servlet:
      multipart:
        enabled: true
        file-size-threshold: 2KB
        max-file-size: 200MB
        max-request-size: 215MB
spring-doc:
  pathsToMatch:
    - /auth/**
    - /api/**/v1/**
  swagger-ui:
    use-root-path: true
